@import 'tailwindcss';

:root {
  --container-max-width: 1380px;

  --background: #ffffff;
  --foreground: #171717;

  --color-primary-100: #cbffb6;
  --color-primary-200: #78e400;
  --color-primary-300: #60b900;
  --color-primary-400: #498f00;
  --color-primary-500: #336700;
  --color-primary-600: #1f4200;
  --color-primary-700: #0c2100;

  --color-secondary-100: #ffe1e9;
  --color-secondary-200: #ffa8c2;
  --color-secondary-250: #ff629c;
  --color-secondary-300: #e40078;
  --color-secondary-400: #e40078;
  --color-secondary-500: #a40054;
  --color-secondary-600: #680033;
  --color-secondary-700: #310015;

  --color-tertiary-100: #e6ecff;
  --color-tertiary-200: #abc4ff;
  --color-tertiary-300: #649dff;
  --color-tertiary-400: #0078e4;
  --color-tertiary-500: #0055a5;
  --color-tertiary-600: #00356a;
  --color-tertiary-700: #001735;

  --color-grey-100: #d6ded7;
  --color-grey-200: #afb6b0;
  --color-grey-300: #8a908b;
  --color-grey-400: #676b68;
  --color-grey-500: #464946;
  --color-grey-600: #272927;
  --color-grey-700: #101110;

  --color-primary: var(--color-primary-400);
  --color-on-primary: #ffffff;
  --color-secondary: var(--color-secondary-400);
  --color-on-secondary: #ffffff;
  --color-tertiary: var(--color-tertiary-400);
  --color-on-tertiary: #ffffff;
  --color-grey: var(--color-grey-400);
  --color-surface-variant: var(--color-primary-100);
  --color-on-surface-variant: var(--color-primary-400);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 1.1px;
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}
